
/* estilos dos links dentro da topbar */
.topnav a {
  float: left;
  color: var(--topBar-text-color);
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
  font-size: 17px;
  margin: auto;
}

  /* Pagina selecionada */
  .topnav a:active {
    background-color: var(--topBar-background-color-active);
    color: var(--topBar-text-color);
  }
  /*Opção de ENTRAR a direita*/
  a.entrarDireita{
    float: right;
    color: var(--topBar-text-color);
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    font-size: 17px;
    margin: 3px;
  }
  /*icones de valorant centralizados*/
  .iconCentralizada{
    margin: auto;
  }
  /*tentativas frustadas*/
  .centralizadaInterna {
  }
  .logo {
    width: 35px;
    height: 25px;
    align-self: end;
  }
  
  .topBarLogovalorant{
    box-sizing: border-box;
  }
  
  .topNavMenuCenter{
  
  }
  /*Mudando a cor do Hover para da TOPBAR para ficar "invisivel"*/
  #logohover{
    background-color: var(--topBar-background-color);
  }
  .first {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: var(--valorant-logo-color);
    clip-path: polygon(0 10%, 70% 90%, 35% 90%, 0 50%);
  }
  .second {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: var(--valorant-logo-color);
    clip-path: polygon(100% 10%, 100% 50%, 88% 65%, 55% 65%);
  }
  /*top bar //FIM//*/
  