/*URL paleta de cores DARK: https://colorhunt.co/palette/252830ff00003d0000eeeeee#justCreated
URL paleta de cores LIGTH: https://colorhunt.co/palette/eeebddce12128100001b1717
*/
:root{
  --topBar-background-color: #252830;
  --topBar-background-color-active: #000000;
  --topBar-hover-background-color: #FF0000;
  --topBar-text-color: #EEEEEE;
  --topBar-solid-color: #EEEEEE;
  --h123-text-color: #FF0000;
  --body-background-color: #252830f5;
  --valorant-logo-color: #EEEEEE;/*#ff4654;*/
  --link-color: #950101;
  --link-hover-color: #3D0000;
  --nomeAgente-text-color: #FF0000;
}
/*
* {
  box-sizing: border-box;
}*/

/*top bar //INICIO//*/
/* Cor da topbar*/
.topnav {
  background-color: var(--topBar-background-color);
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: space-between;
  /*Gambiarra da poha para tirar o "pulinho", continuação na classe a.entrarDireita*/
  height: 65px;
}
/* estilos dos links dentro da topbar */
.topnav a {
  float: left;
  color: var(--topBar-text-color);
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
  font-size: 17px;
  margin: 3px;
}
/*Cursor em cima dos menus*/
.topnav a:hover {
  background-color: var(--topBar-hover-background-color);
  color: var(--topBar-text-color);
  border-bottom: 2px solid var(--topBar-solid-color);
  /* outline: 2px solid var(--topBar-solid-color);*/
}
  /* Pagina selecionada */
  .topnav a:active {
    background-color: var(--topBar-background-color-active);
    color: var(--topBar-text-color);
  }
  /*Opção de ENTRAR a direita*/
  a.entrarDireita{
    float: right;
    margin: 0px;
    font-size: 18px;
    /*Gambiarra da poha para tirar o "pulinho"*/
    height: 30px;
  }
  /*icones de valorant centralizados*/
  img.iconCentralizada{
    margin: 0;
    left: 5%;
    top: 15px;
    position: relative;
    transform: translate(-50%, -50%);
  }
  /*tentativas frustadas*/
  .centralizadaInterna {
    margin: 0px;
    left: auto;
    right: auto;
  }
  .logo {
    width: 35px;
    height: 25px;
    align-self: end;
  }
  /*Mudando a cor do Hover para da TOPBAR para ficar "invisivel"*/
  #logohover{
    background-color: var(--topBar-background-color);
  }
  .first {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: var(--valorant-logo-color);
    clip-path: polygon(0 10%, 70% 90%, 35% 90%, 0 50%);
  }
  .second {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: var(--valorant-logo-color);
    clip-path: polygon(100% 10%, 100% 50%, 88% 65%, 55% 65%);
  }
  /*top bar //FIM//*/
  .topBarLogovalorant{
    box-sizing: border-box;
  }
  
  .topNavMenuCenter{
    box-sizing: border-box;
  }
  /*Corpo da pagina com margem 0 e comfundo colorido*/
  body {
    margin: 0px;
    background-color: var(--body-background-color);
  }
  /*alterando cor dos links*/
  a{
    color: var(--link-color);
  }
  a:hover { 
    color: var(--link-hover-color);
  }
  /*Titulos h1, h2, h3 sendo centralizados e coloridos*/
  h1{
    text-align: center;
    color: var(--h123-text-color);
  }
  /*cor do nome dos agentes*/
  .nomeAgenteColor{
    color: var(--nomeAgente-text-color);
  }
  /*Centralizar imagem principal da pagina*/
  .flexDisplayCenter{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /*Margem para o formulario do login*/
  #loginPageMargin{
    margin-top: 80px;
  }